:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --ternary-background-color: #f5f4fa;
  --social-icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}

@media screen and (max-width: 1198px) {
  .logo {
    margin-right: 88px;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.menu__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__link:focus {
  color: var(--accent-color);
  outline: none;
}

.menu__link:hover {
  color: var(--accent-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu--border::after {
  content: "";
  display: block;
  height: 4px;
  width: 78px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -27px;
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  outline: none;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--main-background-color);
  outline: none;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
}

.social__link--background {
  background: rgba(255, 255, 255, 0.1);
}

.social__icon--background {
  fill: var(--main-background-color);
}

.contacts__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

@media screen and (max-width: 1198px) {
  .contacts__icon--mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1198px) {
  .contacts__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__link:hover {
  color: var(--accent-color);
}

.contacts__link:focus {
  color: var(--accent-color);
  outline: none;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
  outline: none;
  -webkit-transition: fill var(--animation), background-color var(--animation);
  transition: fill var(--animation), background-color var(--animation);
}

.contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1198px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
    width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1198px) {
  .contacts__item:not(:last-child) {
    margin-right: 0;
  }
}

.footer-form {
  margin-left: auto;
}

@media screen and (max-width: 1198px) {
  .footer-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}

.footer-form__mail {
  width: 358px;
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1198px) {
  .footer-form__mail {
    width: 100%;
  }
}

.footer-form__button {
  padding: 10px 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

@media screen and (max-width: 1198px) {
  .footer-form__button {
    margin-top: 30px;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--main-background-color);
  margin-left: 10px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__button {
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  margin-top: 30px;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

@media screen and (max-width: 1200px) {
  .modal-form__input {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .modal-form__input-wrapper {
    width: 100%;
  }
}

.modal-form__name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
  margin-top: 10px;
}

.modal-form__textarea {
  padding: 12px 16px;
  height: 120px;
  width: 448px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__textarea:focus {
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
  border-color: var(--accent-color);
  outline: none;
}

@media screen and (max-width: 1200px) {
  .modal-form__textarea {
    width: 100%;
  }
}

.modal-form__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (max-width: 1200px) {
  .modal-form__text {
    font-size: 12px;
  }
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form__icon--position {
  position: relative;
}

.modal-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form__checkbox:checked + .modal-form__checked {
  background-color: var(--accent-color);
  background-image: url(../images/iconsvg/checkbox.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.modal-form__checked {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 9px;
}

@media screen and (max-width: 1200px) {
  .modal-form__checked {
    margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .modal-form__checked {
    outline: none;
  }
}

.check-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox:focus + .modal-form__checked {
  outline: solid 1px black;
}

@media screen and (max-width: 480px) {
  .checkbox:focus + .modal-form__checked {
    outline: none;
  }
}

.check-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__icon {
  fill: var(--secondary-text-color);
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .radio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.radio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .radio__item:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
}

.radio__button {
  background-color: var(--ternary-background-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.radio__button:hover, .radio__button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards__style-examples {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.cards__item:hover, .cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.cards__item:hover .cards__item--hover,
.cards__item:focus .cards__item--hover {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .cards__item {
    width: calc(100% / 2 - 30px);
  }
  .cards__item img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cards__item {
    width: calc(100% - 30px);
  }
}

.cards__item--overflow {
  overflow: hidden;
  position: relative;
}

.cards__text {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.cards__item--hover {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  position: absolute;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.cards__item--text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-background-color);
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-section {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.head-portfolio {
  border-bottom: solid 1px #ececec;
}

.menu-button {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  z-index: 2;
  position: relative;
  border: none;
  background-color: var(--main-background-color);
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.is-open .icon-cross {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  background-color: var(--main-background-color);
}

.mobile.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .mobile.is-open {
    display: none;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-contacts {
  margin-bottom: auto;
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link--namber {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.hero {
  background-color: var(--secondary-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile/bckghero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile/bckghero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  padding-top: 213px;
  padding-bottom: 187px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile/bckghero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile/bckghero@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet/bckghero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet/bckghero.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet/bckghero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet/bckghero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-dt/bckghero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-dt/bckghero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-dt/bckghero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-dt/bckghero@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 26px;
    height: auto;
  }
}

.hero__button {
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.advantages__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 766px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 766px) {
  .advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__page {
  margin-bottom: 0;
}

/* .advantages__page{} all in body*/
.advantages__item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item::before {
  content: "";
  height: 120px;
  display: block;
  background-color: var(--ternary-background-color);
}

@media screen and (max-width: 1198px) {
  .advantages__item {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 766px) {
  .advantages__item {
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__item--antenna::before {
  background-image: url(../images/advantagespng/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantages__item--clock::before {
  background-image: url(../images/advantagespng/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantages__item--diagram::before {
  background-image: url(../images/advantagespng/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantages__item--astronaut::before {
  background-image: url(../images/advantagespng/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantage-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.doings-section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.doings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doings__item {
  position: relative;
}

.doings__item:not(:last-child) {
  margin-right: 30px;
}

.doings-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .doings-section {
    display: none;
  }
}

.doings__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.doings__text--background {
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team-section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.team-section {
  background-color: var(--ternary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 14px;
}

.team__profesion {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 0;
  margin-bottom: 16px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  width: 270px;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1198px) {
  .team__item {
    width: 354px;
    margin-bottom: 30px;
  }
  .team__item:not(:last-child) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .team__item {
    width: 450px;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

.team__photo {
  margin-bottom: 26px;
}

@media screen and (max-width: 1198px) {
  .team__photo {
    width: 100%;
  }
}

.company-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 768px) {
  .company-section {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }
}

.company-section__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .company {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.company__link {
  display: block;
  height: 100%;
  width: 100%;
  padding: 16px 32px;
  border: 1px solid var(--social-icon-color);
}

.company__link:hover .company__icon,
.company__link:focus .company__icon, .company__link:hover, .company__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
  -webkit-transition: fill var(--animation), border-color var(--animation);
  transition: fill var(--animation), border-color var(--animation);
}

@media screen and (max-width: 1198px) {
  .company__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.company__icon {
  width: 106px;
  height: 60px;
  fill: var(--social-icon-color);
}

.company__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 92px;
  width: 170px;
}

@media screen and (max-width: 1198px) {
  .company__item {
    width: 226px;
  }
  .company__item:nth-child(-n + 3) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .company__item {
    width: 226px;
  }
  .company__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.footer {
  background-color: var(--secondary-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-address {
  margin-top: 20px;
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-contacts__link--color {
  color: var(--main-background-color);
}

.footer-contacts__link:hover {
  color: var(--accent-color);
}

.footer-contacts__link:focus {
  color: var(--accent-color);
  outline: none;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1198px) {
  .footer-item--first {
    text-align: center;
  }
  .footer-item--first .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .footer-item--first {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1198px) {
  .footer-item {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 480px) {
  .footer-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1198px) {
  .footer--flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer--two {
  margin-left: 70px;
}

@media screen and (max-width: 1198px) {
  .footer--two {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .footer--two {
    margin-left: 0;
  }
}

.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-background-color);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 250ms;
  transition: 250ms;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: 320px;
  }
}

.modal__button-close {
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal__button-close:hover > .modal__icon-close {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  -webkit-transform: translate(100%, 100%) scale(0.2);
          transform: translate(100%, 100%) scale(0.2);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 2px;
}

.modal__icon-close {
  fill: #000000;
  width: 18px;
  height: 18px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=style.css.map */