.cards__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards__style-examples {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }
  &:hover .cards__item--hover,
  &:focus .cards__item--hover {
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 1200px) {
    width: calc(100% / 2 - 30px);
    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    width: calc(100% - 30px);
  }
}
.cards__item--overflow {
  overflow: hidden;
  position: relative;
}

.cards__text {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.cards__item--hover {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  position: absolute;
  transform: translateY(0%);
}

.cards__item--text {
  font-size: 18px;
  line-height: 1.55;

  color: var(--main-background-color);
}
