.social {
  display: inline-flex;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
    transition: background-color var(--animation);
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: var(--main-background-color);
    outline: none;
    transition: fill var(--animation);
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
}

.social__link--background {
  background: rgba(255, 255, 255, 0.1);
}

.social__icon--background {
  fill: var(--main-background-color);
}
