:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --main-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --ternary-background-color: #f5f4fa;
    --social-icon-color: #afb1b8;
  
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }